<!DOCTYPE html>
<html>
  <head>
    <title>RecipeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Really Cool Recipes</h1>
      </div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>

    </div>
  </body>
</html>
