<h1><%= @recipe.name %></h1>
<h3><%= @recipe.cuisine %></h3>
<h3><%= @recipe.course %></h3>
<h3><%= @recipe.servings %></h3>
<h3><%= @recipe.directions %></h3>

<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
<p><%= link_to "Delete", recipe_path(@recipe),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to recipes", recipes_path %></p>
